a {
    color: #7c7975;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}

a:before {
    content: '';
    height: 10px;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background-color: rgba(75, 230, 165, 0.295);
    transition: 0.2s;
    transition-property: bottom;
}

.container {
    margin: 1.5em auto;
    width: 45%;
}

hr {
    width: 45%;
}

@media only screen and (max-width: 100px) {
    .container {
        margin: 25px;
        width: 85%;
        max-width: 750px;
        font-size: 24px;
        line-height: 38px;
    }
}

.my-nav {
    margin: 5rem auto 0;
    width: 45%;
    text-align: center;
}

.my-nav a {
    text-decoration: none;
}

.my-nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    height: 30px;
    font-family: Arial;
}

.my-nav li {
    display: inline-block;
}

.my-nav li a {
    display: block;
    padding: 0 20px;
}

.card{
    margin-top: 2em;
}