body{
    background-color: #fafffd;
}


main a {
    color: #23395b;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    font-weight: 600;
}

main a:hover{
    text-decoration: none;
}

main{
    margin-top: 2em;
}

.tag{
    background-color: #dfdfdf;
    padding: 4px;
    border-radius: 2%;
    font-size: 0.85em;
    color: #616161;
}

footer{
    background-color: #fe938c;
}

.intro{
    padding: 0 auto;
}
main p{
    font-size: 1.25em;
}

.card{
    margin-top: 1.5em;
}

.intro hr{
    margin-top: 1.5em;
}

.intro img{
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 2em;
}

main a:before {
    content: '';
    height: 5px;
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: #ff9fb2;
    transition: 0.2s;
    transition-property: bottom;
}