body {
    font-family: Proxima Nova, Helvetica Neue, Helvetica, Arial sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 1px;
}

h1 {
    font-size: 2rem;
    font-family: Proxima Nova, Helvetica Neue, Helvetica, Arial sans-serif;
}

.profile img {
    border-radius: 50%;
    width: 12rem;
}

p a,
li a {
    color: #7c7975;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}

p a:before,
li a:before {
    content: '';
    height: 10px;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background-color: rgba(75, 230, 165, 0.295);
    transition: 0.2s;
    transition-property: bottom;
}

.container {
    margin: 5rem auto;
    width: 45%;
}

@media only screen and (max-width: 680px) {
    .container {
        margin: 25px;
        width: 85%;
        max-width: 750px;
        font-size: 24px;
        line-height: 38px;
    }
}

.nav {
    text-align: center;
}

.nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    height: 30px;
    font-family: Arial;
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: block;
    padding: 0 20px;
}