<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" type="image/png" href="../img/originals/favicon-32x32.png" sizes="32x32" />
	</head>
	<body>
		<div id="sidebar">
			<a class="btn active" href="#">Home</a>
			<a class="btn" href="/blog">Blog</a>
			<a  href="/files/Patricia_Borlongan_Resume.pdf" target="_blank" 
			type="application/octet-stream" download="Patricia_Borlongan_Resume.pdf">Resume (download)</a>
			<a class="btn"
			href="/about-me/">About Me</a>
		  </div>
		  
		<div class="content">
    		{{ content }}
		</div><!-- /.container -->

		<script src="../js/btn.js"></script>
	</body>
</html>
