<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" type="image/png" href="../img/originals/favicon-32x32.png" sizes="32x32" />
	</head>
	<body>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->

		<p>/website currently under construction/</p>
	</body>
</html>
